name: Dev Test Workflow

on:
  push:
    branches:
      - dev

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Push ne branch DEV u ekzekutua me sukses"
